---
import ArticleLayout from "../../layouts/ArticleLayout.astro";
---

<ArticleLayout back={`${import.meta.env.BASE_URL}`}>
    <main>
        <h2 style="text-align: left; margin-top: 50px; padding: 0 20px; font-size: 24px">About This Project</h2>
        <p style="padding: 0 20px;">The Feminist Project is a documentation of the past, present, and future of feminism.</p>
        <p style="padding: 0 20px;">Understanding the history of the feminist movement, analyzing how far we've come and how far we have to go, is essential to give women the equal rights and opportunities they not only deserve, but have also been denied for centuries.</p>
        <p style="padding: 0 20px;">I created this website because, even after decades of advocacy and effort from feminists around the world, systemic misogyny still permeates every sphere of life, beginning at birth and continuing for a lifetime. The main goal of this website is to draw attention to the social, economic, and political issues that women and girls still face throughout their lives, through analyses of history, current events, and the social patterns behind them. </p>
        <p style="padding: 0 20px;">Because the first step to change is awareness.</p>
    </main>
</ArticleLayout>