---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>

<section class="index">
    <h2>Start here</h2>

    <!-- cards -->

</section>

<section class="index">
    <h2>Articles</h2>

    <!-- cards -->

</section>

</BaseLayout>