---
import ArticleLayout from "../../layouts/ArticleLayout.astro";
---

<ArticleLayout back="/#start-here">
    <main>
        <h2 style="text-align: left; margin-top: 50px; padding: 0 20px; font-size: 24px">Important Terms</h2>
        <dl>
            <dt>Feminism</dt>
            <dd>The belief in social, economic, and political equality of the sexes.</dd>
            <dt>Misogyny</dt>
            <dd>Hatred of, contempt for, or prejudice against women or girls.</dd>
            <dt>Patriarchy</dt>
            <dd>A social system in which positions of authority are primarily held by men.</dd>
        </dl>
    </main>
</ArticleLayout>