---
import ArticleLayout from "../../layouts/ArticleLayout.astro";
---

<ArticleLayout back="/#start-here">
    <main>
        <h2 style="text-align: left; margin-top: 50px; padding: 0 20px; font-size: 24px">Prominent Figures</h2>

        <div class="card-wrapper">
            <a href="/articles/figures/mary-wollstonecraft" class="figure-card">
                <img src="/assets/figures/mary-wollstonecraft.avif" alt="Portrait of Mary Wollstonecraft" />
                <h3>Mary Wollstonecraft</h3>
            </a>
        </div>
    </main>
</ArticleLayout>