<header class="site-header">
    <div class="title-block">
        <h1>The Feminist Project</h1>
        <p style="font-size: 12px">
            <i>On feminism, history, and the fight for equality</i>
        </p>
    </div>
</header>