---
import "../styles/style.css";
import Header from "../components/articleheader.astro";
import NavBar from "../components/articlenavbar.astro";
const { back } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Feminist Project</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href={`${import.meta.env.BASE_URL}assets/icon.ico`}>
</head>

<script>
    import "../lib/firebase.js";
    import "../lib/auth.js";
</script>

<body>

    <div class="background"></div>

    <NavBar back={back} />

    <Header />

    <slot />

</body>
</html>